 {% extends 'base.html' %}

{% block title %}Mi Cartera - Estado de Compras{% endblock %}

{% block page_content %}
<body>

    <table>
        <tr>
            <th>Moneda</th>
            <th>Cantidad</th>
            <th>Valor en Euros</th>
        </tr>
        {% for criptomoneda, diferencia in estado_wallet.items() %}
        <tr>
            <td>{{ criptomoneda }}</td>
            <td>{{ diferencia }}</td>
            <td>{{ diferencia }}</td>
        </tr>
        {% endfor %}
    </table>
    
    <div class="status-container">
        
        <h6>Precio de compra:</h6>
        <p>{{ precio_de_compra }}</p>
        
        
    </div>
   

</body>

{% endblock %}
